<div class="header item">
    <h1>{{ title }}</h1>
</div>
<div class="container">
    <div class="activity">
        <div>{{ activityName }}</div>
        <div ng-repeat="game in activityGame">
            <div class="games">
                <h1>{{ game.name }}</h1>
                <h2>Rules:</h2>
                <ul>
                    <li>{{ game.ruleOne }}</li>
                    <li>{{ game.ruleTwo }}</li>
                    <li>{{ game.ruleThree }}</li>
                </ul>
            </div>
        </div>
        <div>
            <a href="#!location">Please</a>
        </div>
    </div>
</div>